.note-card {
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(229 244 246) !important;
}

.note-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.25);
}

.note-card-container {
  align-items: center;
}

.note-title {
  font-size: 16px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(47, 93, 173);
}

.note-card-options {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
}

.pin-icon:hover,
.pin-icon.pinned {
  color: rgb(231, 200, 26);
}

.delete-icon:hover {
  color: black;
}

.protected-icon:hover,
.protected-icon.protected {
  color: purple;
}
